<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <% language_list.each_with_index do |language, index| %>
      <tr>
        <th scope="row"><%= index %></th>
        <td><%= language %></td>
      </tr>
    <% end %>
  </tbody>
</table>
